<!doctype html>
<html>
<head>
    <meta charset="utf-8">
</head>

<body>

    <!-- movie -->
    <div>
        <form class="book_form" method="post" action="#">
            <label>ISBN</label><br>
            <input name="isbn" type="text" maxlength="13" value=""/><br>
            <label>Name</label><br>
            <input name="name" type="text" maxlength="255" value=""/><br>
            <label>Description</label><br>
            <input name="desc" type="text" maxlength="255" value=""/><br>
            <label>Id autora</label><br>
            <input name="author_id" type="number" min="0" max="1000"/><br>
            <button type="submit" name="submit" value="movie">Dodaj</button>
        </form>
    </div>

</body>
</html>